.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    background-color:#9ddfd3;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}body
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 30px !important;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-brand{
       text-decoration: none;
       color: #16a596;
       margin-left: 200px;
 
}
.l{
    margin-left: 200px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
.note{
     color: red;
}
.vi{
    margin-left: 0;
}